<nav class="navbar navbar-expand-md navbar-light bg-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/alllist"><i class="fa-solid fa-recycle"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/alllist">Home</a>
        <a class="nav-link" href="/alllist">All Listening</a>
        <a class="nav-link" href="/listing/new">Add new Listening</a>
        
      </div>
    </div>
  </div>
</nav>