<nav class="navbar navbar-expand-md navbar-light bg-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/alllist"><i class="fa-solid fa-recycle"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/alllist">Home</a>
        <a class="nav-link" href="/alllist">Explore</a>
       
      </div>
      
      <!-- Centered Search Form with Auto-suggestions -->
      <div class="navbar-nav mx-auto d-flex align-items-center">
        <form class="d-flex align-items-center" method="GET" action="/search">
          <div class="search-container">
            <input class="form-control me-2 w-auto" type="search" name="query" placeholder="Search destinations..." aria-label="Search" style="min-width: 300px;" autocomplete="off">
            <div id="suggestions-dropdown" class="suggestions-dropdown"></div>
          </div>
          <button class="search" type="submit">Search <i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
      </div>
      
      <!-- Right side navigation -->
      <div class="navbar-nav ms-auto">
         <a class="nav-link" href="/listing/new">Rent your Home</a>
        <% if(!currUser){ %>
        <a class="nav-link active" aria-current="page" href="/signup">Signup</a>
        <a class="nav-link" href="/login">Sign in</a>
        <% } %>
        <% if(currUser){ %>
        <a class="nav-link" href="/logout">Logout</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>