<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wonder Lust</title>
</head>
<body>
    <h3>All Listining</h3>
    <ul>
        <% for(let i of alldata) {%>
        <li><a href="/listing/<%= i._id %>"><%= i.title %></a></li>
    </ul>
    <% } %>
    <br>
    <br>
    <form method="get" action="/listing/new">
        <button>Create Listings</button>
    </form>
    
</body>
</html>