<% layout('/layouts/boilerplate.ejs') -%>
<body>
    <h3>All Listining</h3>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <% for(let i of alldata) {%>
    <div class="card">
  <img src="<%= i.image.url %>" class="card-img-top" alt="listing" style="height: 20rem;">
  <div class="card-body">
    <b><h5 class="card-title"><%= i.title %></h5></b>
    <p class="card-text">&#8377;
<%=i.price.toLocaleString("en-IN") %>/night</p>
    <a href="/listing/<%=i._id %>" class="btn btn-primary add">Book Now</a>
  </div>
</div>
 <% } %>
    </div>
    <br>
    <br>
    <form method="get" action="/listing/new">
        <button class="add">Create Listings</button>
    </form>
    
</body>
